.chef_card{
    display:flex;
    flex-wrap: wrap;
    height:13em;
    width:15em;
    justify-content: space-between;
    margin: 2em 2em;
    object-fit: cover;
    transition: 1s;
    
   &:hover{
    opacity: 0.8;
   }
   .line{
    height:0.3rem;
    background: #23d997;
    width: 30px;
    position: absolute;
    // bottom: -80%;
    margin-left: 57%;
    margin-top: 15%;

}

}
