.chef_card{
    cursor: pointer;
    height:13em;
    width:15em;
    justify-content: space-between;
    margin: 2em 2em;
    object-fit: cover;
    transition: 1s;
    
//    &:hover{
//     opacity: 0.8;
//    }
   .line:hover{
    // display: none;
    
    height:0.3rem;
    background: #23d997;
    width: 30px;
  
    margin-left: 50%;
    margin-top: 60%;
    
}

}
