.search_form{  
    height:30em;
    margin-top:0px;
    width:100%;
    color:white;
    .image{
     
        height:100%;
        width:100%;
        background-image:url("../images/wallpaper1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   

    }
   
    .search_block{
        display: flex;
        align-self: center;
        padding-top:25%;
        padding-left: 15%;
        gap:10px;
        input{
            height:3em;
            width: 60%
        }
    }
    Button{
        border-radius: 15px;
    }
}